/* 
*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: "Itim", cursive;
    font-size: 40px;
}

.titulo{
    text-align: center;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 50px;
}

tbody{
    width: 400px;
    height: 400px;
    margin-right: auto;
    margin-left: auto; 
    border: 1px black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

table{
    width: 200px;
    height: 200px;
} 

 
tr,td{
    width: 25px;
    height: 25px;
    border: 1px solid black;
} */